{% include 'menu/header.html' %}

<form action="/menu" method="post">
    {% csrf_token %}
 <h1 class="heading1">Our Menu</h1>

    <div class="row row-incenter">
    <div class="dropdown col-lg-12 col-sm-12" id="" style="width:fit-content">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action </a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="dropdown col-lg-12 col-sm-12" id="vegNonVeg" style="width:fit-content">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Veg/NonVeg
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Veg</a></li>
        <li><a class="dropdown-item" href="#">NonVeg</a></li>
      </ul>
    </div>
    <div class="dropdown col-lg-12 col-sm-12" id="items" style="width:fit-content">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Items
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#burger">Burgers</a></li>
        <li><a class="dropdown-item" href="#dosa">Dosa</a></li>
        <li><a class="dropdown-item" href="#idli">Idli</a></li>
        <li><a class="dropdown-item" href="#sandwich">Sandwich</a></li>
        <li><a class="dropdown-item" href="#pasta">Pasta</a></li>
        <li><a class="dropdown-item" href="#frenchfries">French Fries</a></li>
        <li><a class="dropdown-item" href="#vadapav">Vada Pav</a></li>
        <li><a class="dropdown-item" href="#juice">Juice</a></li>
      </ul>
    </div>
    </div>




<div style="display:flex">

    <div class="container d-flex mt-4 p-4">
        
        <div class="card mb-3" style="width:300px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="" class="img-fluid rounded-start" alt="Burger">
                </div>
                <div class="col-md-6">

                    <div class="card-body">
                        <div>
                            <input type="checkbox" name="chk[]" value = 0>
                        <label><h5 class="card-title">
                            Burger
                        </h5></label>
                    </div>
                       <p class="price"><small>₹100</small></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card mb-3" style="width:300px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="" class="img-fluid rounded-start" alt="pizza">
                </div>
                <div class="col-md-6">

                   <div class="card-body">
                        <div>
                            <input type="checkbox" name="chk[]" value = 1>
                        <label><h5 class="card-title">
                            Pizza
                        </h5></label>
                    </div>
                       <p class="price"><small>₹100</small></p>
                    </div>

                </div>
            </div>
        </div>
 
        
        <div class="card mb-3" style="width:300px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="" class="img-fluid rounded-start" alt="pasta">
                </div>
                <div class="col-md-6">

                    <div class="card-body">
                        <div>
                            <input type="checkbox" name="chk[]" value = 2>
                        <label><h5 class="card-title">
                            Pasta
                        </h5></label>
                    </div>
                       <p class="price"><small>₹100</small></p>
                    </div>

                </div>
            </div>
        </div>


        <div class="card mb-3" style="width:300px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="" class="img-fluid rounded-start" alt="fries">
                </div>
                <div class="col-md-6">

                    <div class="card-body">
                        <div>
                            <input type="checkbox" name="chk[]" value = 3>
                        <label><h5 class="card-title">
                            fries
                        </h5></label>
                    </div>
                       <p class="price"><small>₹100</small></p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>


    <div class="menuButton">
        <input type="submit" class="menu-button" value="Place Order">
    </div>
</form> 

{% include 'menu/footer.html' %}
