<%-include('header')-%>

<nav class="navbar navbar-expand-lg " id="navbar" style="background-color: #00AAF5;">
    <div class="container-fluid">
      <a class="navbar-brand"  href="#" style="color: #fff"><strong><i style="font-size:xx-large">Cravings</i></strong></a>
      <button class="navbar-toggler" style="background-color:white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fa-solid fa-user fa-xl profile-img" href="/profile" style="color: #fff;background-color:#00AAF5;border-color:#00AAF5;"></i></a>
          </li>             
          <li class="nav-item">
            <button type="button" style="background-color:#00AAF5;border:none;font-size:large" class="btn btn-secondary" href="login.html"><strong>Logout</strong></button>
          </li>             
        </ul>
      </div>
    </div>
  </nav>
<h1 class="heading1"  style="margin-top:3%">Today's specialities</h1>
<div class="container" style="margin-bottom:3%">
    <div class="row">

        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/burgers.jpg" href="www.google.com" style="height:175px" class="card-img-top" alt="burger">
            <div class="card-body" >
                <h5 class="card-title">Burgers</h5>
                <p class="card-text">a sandwich consisting of one or more cooked beef patties, placed inside a sliced bread roll or bun roll.
                </p>
            </div>
        </div>
        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/burgers.jpg" href="www.google.com" style="height:175px" class="card-img-top" alt="burger">
            <div class="card-body" >
                <h5 class="card-title">Burgers</h5>
                <p class="card-text">a sandwich consisting of one or more cooked beef patties, placed inside a sliced bread roll or bun roll.
                </p>
            </div>
        </div>

        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/fries.jpg" style="height:175px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fries</h5>
                <p class="card-text">They are prepared by cutting potatoes into even strips, drying them, and frying them, usually in a deep fryer.</p>

            </div>
        </div>
        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/idli-vada.jpg" style="height:175px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Idli-vada</h5>
                <p class="card-text">round cakes made from a batter of steamed rice and fermented black lentil.</p>

            </div>
        </div>
        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/momos.jpg" style="height:175px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Momos</h5>
                <p class="card-text">type of steamed filled dumpling with origins from the Himalayan region that is popular in India.</p>

            </div>
        </div>
        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/puffs.jpg" style="height:175px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Puffs</h5>
                <p class="card-text">a light pastry case, typically one made of puff pastry, containing a sweet or savoury filling.</p>

            </div>
        </div>
        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/puffs.jpg" style="height:175px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Puffs</h5>
                <p class="card-text">a light pastry case, typically one made of puff pastry, containing a sweet or savoury filling.</p>

            </div>
        </div>
        <div class="card col-lg-12 col-md-6 " style="max-width: 13rem; display: flex; justify-content: center; margin-left:24px">
            <img src="/images/brownie.jpg" style="height:175px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Brownie</h5>
                <p class="card-text">chocolate baked confection, comes in a variety of forms and may be either fudgy or cakey.</p>
            </div>
        </div>
    </div>
</div>


<section style="background-color:#00AAF5">
    <p style="content-visibility:hidden">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <h1 class="heading1" style="color:white; text-shadow: 4px 5px rgba(0, 0, 0, 0.19)">Explore our Menu here!!</h1>
    <div class="menuButton" style="display:flex; flex-direction: row; justify-content:space-around">
        <button class="menu-button" style="background-color:white; margin-bottom:5%;margin-top:1%">
            <a style="color:#00AAF5; text-decoration:none;"  href="/menu">MENU</a>
        </button>
    </div>
</section>
<%-include('footer')-%>
