<%-include('header')-%>


 <h1 class="heading1">Our Menu</h1>

    <div class="row row-incenter">
    <div class="dropdown col-lg-12 col-sm-12" id="" style="width:fit-content">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu" style="">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <div class="dropdown col-lg-12 col-sm-12" id="vegNonVeg" style="width:fit-content">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Veg/NonVeg
      </button>
      <ul class="dropdown-menu" style="">
        <li><a class="dropdown-item" href="#">Veg</a></li>
        <li><a class="dropdown-item" href="#">NonVeg</a></li>
      </ul>
    </div>
    <div class="dropdown col-lg-12 col-sm-12" id="items" style="width:fit-content">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Items
      </button>
      <ul class="dropdown-menu" style="">
        <li><a class="dropdown-item" href="#burger">Burgers</a></li>
        <li><a class="dropdown-item" href="#dosa">Dosa</a></li>
        <li><a class="dropdown-item" href="#idli">Idli</a></li>
        <li><a class="dropdown-item" href="#sandwich">Sandwich</a></li>
        <li><a class="dropdown-item" href="#pasta">Pasta</a></li>
        <li><a class="dropdown-item" href="#frenchfries">French Fries</a></li>
        <li><a class="dropdown-item" href="#vadapav">Vada Pav</a></li>
        <li><a class="dropdown-item" href="#juice">Juice</a></li>
      </ul>
    </div>
    </div>

    <h1 class="heading2">
        Burger
      </h1>
      
      
      
      <h1 class="heading2">
        Dosa
      </h1>
      <h1 class="heading2">
        Idli
      </h1>
      <h1 class="heading2">
        Sandwich
      </h1>
      <h1 class="heading2">
        Pasta
      </h1>
      <h1 class="heading2">
        French Fries
      </h1>
      <h1 class="heading2">
        Vada Pav
      </h1>
      <h1 class="heading2">
        Juice
      </h1>

<%-include('footer')-%>
