.table-page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.left{
    background-color: #ccc;
}

.right{
    background-color: #ccc;    
}

.middle{
    padding: 50px;
}

.title{
    font-size: large;
    font-weight: 400;
}

.table{
    margin-top: 50px;
    margin-right: 100px;
}

ul{
    list-style: none;
}

.navbar{
    position: sticky;
    left: 0;
    top: 0;
}

thead{
    background-color: #00aff5;
}