<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order table</title>

    <link rel="stylesheet" href="tablepage.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg " id="navbar"style="background-color: #ccc;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Cravings</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/profile"><i class="fa-solid fa-user fa-xl profile-img" style="color: #00a3d7;" href="/profile"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="table-page">

    <div class="left"></div>

    <div class="middle">    
        <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Items</th>
                <th scope="col">Rate</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>
                    <ul>
                        <li>Masala Dosa</li>
                        <li>Vada</li>
                        <li>Kitkat</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>100</li>
                        <li>50</li>
                        <li>20</li>
                    </ul>
                </td>
                <td>170</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>
                    <ul>
                        <li>Masala Dosa</li>
                        <li>Vada</li>
                        <li>Kitkat</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>100</li>
                        <li>50</li>
                        <li>20</li>
                    </ul>
                </td>
                <td>170</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>
                    <ul>
                        <li>Masala Dosa</li>
                        <li>Vada</li>
                        <li>Kitkat</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>100</li>
                        <li>50</li>
                        <li>20</li>
                    </ul>
                </td>
                <td>170</td>
              </tr>
            </tbody>
          </table>
    </div>
          <div class="right"></div>
    </div>
    
</body>
</html>