<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>

    <!-- { % load static %} -->
    <link rel="stylesheet" href="{ % static 'signup.css' %}">
    <link rel="stylesheet" href="signup.css">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  -->

</head>
<body>
        <div class="container">
            <div class="title">Registration</div>
                <form action="javascript:void(0);">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details"></span>
                            <input type="text" name="fname" placeholder="Name">
                        </div>
                        <div class="input-box">
                            <input type="text" name="fname" placeholder="Registration Number">
                        </div>
                        <div class="input-box">
                            <input type="text" name="fname" placeholder="Username">
                        </div>
                        <div class="input-box">
                        <input type="tel" name="contact" placeholder="Contact no">
                        </div>
                        <div class="input-box">
                        <input type="email" name="email" placeholder="Email id">
                        </div>        
                        <div class="input-box">
                        <input type="password" name="pwd" placeholder="Password">
                        </div> 

                        <div class="input-box">
                            <select class="hostel-select" aria-label="Default select example">
                                <option selected>Hostel type</option>
                                <option value="1">Men's Hostel</option>
                                <option value="2">Ladies' Hostel</option>
                              </select>
                              
                        </div>

                        <div class="input-box">

                            <details class="custom-select">
                                <summary class="radios">
                                  <input type="radio" name="item" id="default" title="Block" checked>
                                  <input type="radio" name="item" id="A" title="A">
                                  <input type="radio" name="item" id="B" title="B">
                                  <input type="radio" name="item" id="C" title="C">
                                  <input type="radio" name="item" id="D" title="D">
                                  <input type="radio" name="item" id="E" title="E">
                                  <input type="radio" name="item" id="F" title="F">
                                  <input type="radio" name="item" id="G" title="G">
                                  <input type="radio" name="item" id="H" title="H">
                                  <input type="radio" name="item" id="J" title="J">
                                  <input type="radio" name="item" id="K" title="K">
                                  <input type="radio" name="item" id="L" title="L">
                                  <input type="radio" name="item" id="M" title="M">
                                  <input type="radio" name="item" id="N" title="N">
                                  <input type="radio" name="item" id="P" title="P">
                                  <input type="radio" name="item" id="Q" title="Q">
                                  <input type="radio" name="item" id="R" title="R">
                                </summary>
                                <ul class="list">
                                  <li>
                                    <label for="A">A</label>
                                  </li>
                                  <li>
                                    <label for="B">B</label>
                                  </li>
                                  <li>
                                    <label for="C">C</label>
                                  </li>
                                  <li>
                                    <label for="D">D</label>
                                  </li>
                                  <li>
                                    <label for="E">E</label>
                                  </li>
                                  <li>
                                    <label for="F">F</label>
                                  </li>
                                  <li>
                                    <label for="G">G</label>
                                  </li>
                                  <li>
                                    <label for="H">H</label>
                                  </li>
                                  <li>
                                    <label for="J">J</label>
                                  </li>
                                  <li>
                                    <label for="K">K</label>
                                  </li>
                                  <li>
                                    <label for="L">L</label>
                                  </li>
                                  <li>
                                    <label for="M">M</label>
                                  </li>
                                  <li>
                                    <label for="N">N</label>
                                  </li>
                                  <li>
                                    <label for="P">P</label>
                                  </li>
                                  <li>
                                    <label for="Q">Q</label>
                                  </li>
                                  <li>
                                    <label for="R">R</label>
                                  </li>                                  
                                </ul>
                              </details>
                        </div> 
                         
                    </div>

                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
                    <div class="login-signup">Already have an account? <a href="login.html" id="signup">Login</a></div>     
                </form>
            </div>                
</body>
</html>