@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    /* color: #eeeeeea8; */
    font-family: 'Montserrat', sans-serif
}

.card {
    border: none
}

.logo {
    background-color: #eeeeeea8
}

.totals tr td {
    font-size: 13px
}

.footer {
    background-color: #eeeeeea8
}

.footer span {
    font-size: 12px
}

.product-qty span {
    font-size: 12px;
    color: #dedbdb
}

body > .container-fluid{
    background-color: #f0fbff;
}

