<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- {% load static %} -->
    <link rel="stylesheet" href="{% static 'invoicepage.css' %}">
    <link rel="stylesheet" href="invoicepage.css">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="navbar.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg " id="navbar"style="background-color: #00aff5;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #fff">Cravings</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/profile"><i class="fa-solid fa-user fa-xl profile-img" href="/profile" style="color: #fff"></i></a>
              </li>             
              <li class="nav-item">
                <button type="button" class="btn btn-secondary" href="login.html">Logout</button>
              </li>             
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="container-fluid">    
        <div class="row d-flex justify-content-center">    
            <div class="col-md-8">    
                <div class="card"> 
                    <div class="invoice p-5">
                        <h5>Your order Confirmed!</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, {{user.first_name}}</span>
                        <span>You order has been confirmed and is being prepared!</span>
    
                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">  
                            <table class="table table-borderless">    
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="py-2">    
                                                <span class="d-block text-muted">Order Date and time</span>
                                                <span>{{date_time}}</span>    
                                            </div>
                                        </td>
    
                                        <td>
                                            <div class="py-2">    
                                                <span class="d-block text-muted">Order No</span>
                                                <span>{{token}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>    
                            </table>     
                           </div>
    
    
    
    
                        <div class="product border-bottom table-responsive">    
                            <table class="table table-borderless">    
                                <tbody>
                                    {% for item in orders %}
                                    <tr>
                                        <td width="20%">    
                                            <img src="../../static/images/burgers.jpg" width="90">    
                                        </td>
    
                                        <td width="10%">
                                            <span class="font-weight-bold">{{item.item}}</span>
                                            <div class="product-qty">
                                                <span class="d-block">{{item.quantity}}</span>                                  
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div class="text-right">
                                                <span class="font-weight-bold">Rs. {{item.item.rate}}</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <span class="font-weight-bold">Rs. {{item.total}}</span>
                                            </div>
                                        </td>
                                    </tr>   
                                {% endfor %}
                                </tbody>    
                            </table>   
                        </div>
    
    
    
                        <div class="row d-flex justify-content-end">    
                            <div class="col-md-5">    
                                <table class="table table-borderless">    
                                    <tbody class="totals">    
                                        <tr>
                                            <td>
                                                <div class="text-left">    
                                                    <span class="text-muted">Subtotal</span>    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span>Rs. {{total}}</span>
                                                </div>
                                            </td>
                                        </tr>
    
    
                                        <tr>
                                            <td>
                                                <div class="text-left">
    
                                                    <span class="text-muted">Convenience Fee</span>
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span>Rs. {{sub}}</span>
                                                </div>
                                            </td>
                                        </tr>    
    
                                        <tr class="border-top border-bottom">
                                            <td>
                                                <div class="text-left">
    
                                                    <span class="font-weight-bold">Grand total</span>
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span class="font-weight-bold">Rs. {{grand}}</span>
                                                </div>
                                            </td>
                                        </tr>
    
                                    </tbody>
    
                                </table>
    
                            </div>
    
    
    
                        </div>
    
                        <p class="font-weight-bold mb-0">Thanks for dining with us!</p>
                        <span>Mangesh Caterers</span>
    
    
    
    
    
                    </div>
    
    
                    <div class="d-flex justify-content-between footer p-3">
    
                        <span>Need Help? visit our <a href="#"> help center</a></span>
                        <span>4 June, 2023</span>
    
                    </div>
    
    
    
    
                </div>
    
            </div>
    
        </div>
    
    </div>
</body>
</html>


