<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 10px;
        }
    </style>
</head>
<body>
    <form>
        <div style="display: flex">
            <h4>Paneer parantha</h1> 
            <h3>rate: 30</h3>
            <input type="number" min=0>
            <input type="checkbox">
        </div>
        <div style="display: flex">
            <h4>Aloo parantha</h1> 
            <h3>rate: 25</h3>
            <input type="number" min=0>
            <input type="checkbox">
        </div>
    </div>
</body>
</html>