<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>

    <!-- { % load static %} -->
    <link rel="stylesheet" href="{ % static 'signup.css' %}">
    <link rel="stylesheet" href="signup.css">

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <!-- <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>  -->

</head>
<body>
        <div class="container">
            <div class="title">Mess registration</div>
                <form action="javascript:void(0);">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details"></span>
                            <input type="text" name="fname" placeholder="Mess name">
                        </div>
                        <div class="input-box">
                            <input type="text" name="fname" placeholder="Username">
                        </div>
                        <div class="input-box">
                        <input type="tel" name="contact" placeholder="Contact no">
                        </div>
                        <div class="input-box">
                        <input type="email" name="email" placeholder="Email id">
                        </div>        
                        <div class="input-box">
                        <input type="password" name="pwd" placeholder="Password">
                        </div> 
                        <div class="input-box">
                        <input type="password" name="conpwd" placeholder="Confirm password">
                        </div> 

                        <div class="input-box">
                            <select class="hostel-select" aria-label="Default select example">
                                <option selected>Hostel type</option>
                                <option value="1">Men's Hostel</option>
                                <option value="2">Ladies' Hostel</option>
                              </select>
                              
                        </div>

                        <div class="input-box">
                          <select class="block-select" aria-label="Default select example">
                              <option selected>Block</option>
                              <option value="1">A</option>
                              <option value="2">B</option>
                              <option value="2">C</option>
                              <option value="2">D</option>
                              <option value="2">E</option>
                              <option value="2">F</option>
                              <option value="2">G</option>
                              <option value="2">H</option>
                              <option value="2">J</option>
                              <option value="2">K</option>
                              <option value="2">L</option>
                              <option value="2">M</option>
                              <option value="2">N</option>
                              <option value="2">P</option>
                              <option value="2">Q</option>
                              <option value="2">R</option>
                          </select>                              
                      </div> 
                         
                    </div>

                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
                    <div class="login-signup">Already have an account? <a href="login.html" id="signup">Login</a></div>     
                </form>
            </div>                
</body>
</html>