<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="/CSS/profile.css" rel="stylesheet"/>
</head>
<body>
    <img src="/CSS/download.png">
    
    <div id="head">
        <h1 id="heading">Profile</h1>
    </div>
    
    
    
   <hr/>
   <h4 name="name">Name:</h4>
   <h4 name="'registration">Registration Number:</h4>
   <h4 name="contact number">Contact Number:</h4>
   <h4 name="email">Email-ID:</h4>
   <h4 name="block">Hostel Block:</h4>

   <button type="submit" class="edit_button">Edit Profile</button>
   <button type="submit" class="past_orders">Check your past orders</button>
   
    
</body>
</html>