.table-page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.left{
    /* margin-right: 10px; */
    /* box-shadow: 2px 2px 2px; */
    background-color: #dddddd;
}

.right{
    /* margin-left: 10px; */
    /* box-shadow: 2px 2px 2px; */
    background-color: #dddddd;  

}

.middle{
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
    /* margin: 0 20px 0 20px; */
    padding: 50px;
}

.title{
    font-size: large;
    font-weight: 400;
}

.table{
    margin-top: 50px;
    margin-right: 100px;
}

table tr td ul{
    list-style: none;
    padding: 0;
}

table tr td .form-check input{
    border: 2px solid black;
}

.navbar{
    box-shadow: 10px;   
}

thead{
    background-color: #00aff5;
}

.nav-item{
    padding: 0 10px 0 10px;
}

@media (max-width: 720px) {
    .right{
        display: none;
    }    
    .left{
        display: none;
    }
    table{
        column-width: 400px;
    }
    .table-container{
        width: 100%;
        overflow-x: scroll;
    }
}