
    <nav class="navbar navbar-expand-lg " id="navbar" style="background-color: #00AAF5;">
        <div class="container-fluid">
          <a class="navbar-brand"  href="#" style="color: #fff"><strong><i style="font-size:xx-large">Cravings</i></strong></a>
          <button class="navbar-toggler" style="background-color:white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-link">
                <a class="nav-link" href="/profile"><i class="fa-solid fa-user fa-xl profile-img" href="/profile" style="color: #fff;background-color:#00AAF5;border-color:#00AAF5;"></i></a>
              </li>
              <li class="nav-link">
                <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="/user_home"><strong>Home</strong></a>
              </li>             
              <li class="nav-link">
                <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="#"><strong>Menu</strong></a>
              </li>
              <li class="nav-link">
                <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="/invoice"><strong>Invoice</strong></a>
              </li>              
              <li class="nav-link">
                <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="/user_history"><strong>Order History</strong></a>
              </li>              
              <li class="nav-link">
                <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="/about"><strong>About</strong></a>
              </li>              
              <li class="nav-link">
                <a type="button" style="background-color:#00AAF5;border:none;font-size:large" class="btn btn-secondary" href="/logout"><strong>Logout</strong></a>
              </li>             
            </ul>
          </div>
        </div>
      </nav> 